name: Publish depict

on: push

jobs:
  check:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        include:
        - os: windows-latest
          executable-extension: '.exe'

    timeout-minutes: 3

    steps:
    - uses: actions/checkout@v4
    - uses: dtolnay/rust-toolchain@stable

    - uses: jwlawson/actions-setup-cmake@v2
      if: ${{ matrix.os == 'macos-latest' }}
      with: { cmake-version: '3.31.7' }
    
    - name: Get and build QBDI (macos)
      if: ${{ matrix.os == 'macos-latest' }}
      run: |
        curl https://github.com/QBDI/QBDI/releases/download/v0.12.0/QBDI-0.12.0-osx-AARCH64.pkg -L > QBDI.pkg
        sudo installer -pkg QBDI.pkg -target ~
        bash build-qbdi.sh

    # - name: Get QBDI (linux)
    #   if: ${{ matrix.os == 'ubuntu-latest' }}
    #   run: |
    #     curl https://github.com/QBDI/QBDI/releases/download/v0.12.0/QBDI-0.12.0-ubuntu24.04-X86_64.deb -L > QBDI.deb
    #     sudo dpkg -i QBDI.deb

    - name: Check
      run: cargo check

    - name: Build binary and iterations example
      shell: bash
      run: |
        cargo build --profile release-with-debug
        cargo build --example iterations --profile release-with-debug
        mv target/release-with-debug/examples/iterations${{ matrix.executable-extension }} .
        mv target/release-with-debug/depict${{ matrix.executable-extension }} .

    - name: Install depndencies
      run: ./depict install

    - name: Run iterations
      shell: bash
      run: |
        for i in {0..3}
        do
          i=$((10**i))
          echo "::group::./depict${{ matrix.executable-extension }} count ./iterations $i"
          ./depict${{ matrix.executable-extension }} count ./iterations $i
          echo "::endgroup::"
        done

    - name: Run iterations (breakdown)
      shell: bash
      run: |
        for i in {0..3}
        do
          i=$((10**i))
          echo "::group::./depict${{ matrix.executable-extension }} count --breakdown ./iterations $i"
          ./depict${{ matrix.executable-extension }} count --breakdown ./iterations $i
          echo "::endgroup::"
        done

  make-release:
    needs: check

    # Publish on `main` branch additions
    if: ${{ github.ref_name == 'main' }}

    runs-on: ubuntu-latest

    permissions: { contents: write }
    env: { version: "${{ secrets.NEXT_VERSION }}" }
    outputs: { version: "v${{ env.version }}" }

    steps:
    - uses: actions/checkout@v6  
    - uses: kaleidawave/release-downloader@improvements
      env: { GH_TOKEN: "${{ github.token }}" }
      with: { items: 'kaleidawave/crates-release-gh-action@assets[crates-release]' }
    
    - name: Update version
      run: crates-release change-version ${{ env.version }}

    - name: Create release
      env: { GH_TOKEN: "${{ secrets.GITHUB_TOKEN }}" }
      run: |
        tag="v${{ env.version }}"
        
        git config user.name "github-actions[bot]"
        git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
        
        git add -u
        git commit -m "Release '${{ env.version }}'"
        git tag -a $tag -m "release ${{ env.version }}"
        git push origin ${{ github.ref_name }}
        git push origin tag $tag

        gh release create $tag --target ${{ github.ref_name }} -t "Release ${{ env.version }}"

  publish-assets:
    needs: make-release

    permissions: write-all

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        include:
        - os: windows-latest
          platform-name: x86_64-pc-windows
          executable-extension: ".exe"
        - os: ubuntu-latest
          platform-name: x86_64-unknown-linux
        - os: macos-latest
          platform-name: aarch64-apple-darwin

    runs-on: ${{ matrix.os }}

    env:
      PROFILE: dev
      OUT: target/debug
      GH_RELEASE: ${{ needs.make-release.outputs.version }}
      GH_TOKEN: ${{ github.token }}

    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable

      # build dependents

      - uses: jwlawson/actions-setup-cmake@v2
        if: ${{ matrix.os == 'macos-latest' }}
        with: { cmake-version: '3.31.7' }
      
      - name: Get QBDI (macos)
        if: ${{ matrix.os == 'macos-latest' }}
        run: |
          curl https://github.com/QBDI/QBDI/releases/download/v0.12.0/QBDI-0.12.0-osx-AARCH64.pkg -L > QBDI.pkg
          sudo installer -pkg QBDI.pkg -target ~
          bash build-qbdi.sh

      # end build dependents

      - name: Build binary
        run: cargo build --profile ${{ env.PROFILE }}

      - name: Publish binary
        shell: bash
        run: |
          FROM='${{ env.OUT }}/depict${{ matrix.executable-extension }}'
          TO='depict-${{ matrix.platform-name }}${{ matrix.executable-extension }}'
          mv $FROM $TO
          gh release upload $GH_RELEASE "$TO" --clobber
